* {
    box-sizing: border-box;

    background-color: black;
    color: aliceblue;
    /* border: 1px solid red; */
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0px;
    right: 0px;
    width:100%;
    height: 100px;
    z-index: 10;
    background-color: rgb(0, 0, 0, 0.8);
    backdrop-filter: blur(6px);
}

header h1 a{
    font-family: 'Monoton', cursive;
    font-size: 3rem;
    margin-left: 20px;
    background-color: rgba(0,0,0,0);
    text-decoration: none;
}
header h1{
    background-color: rgba(0, 0, 0, 0);
    
}


.header_title,
nav{
    display: inline-block;
}
nav ul{
    display: flex;
    flex-direction: row;
}

header li{
    margin:0px 10px;
    font-family: 'Unbounded', cursive;
    list-style: none;
}
header li a{
    text-decoration: none;
    font-size: 1rem;
    position: relative;
}

header:before{
    position: absolute;
    content:"";
    top: -100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(0deg, rgba(0,0,0,0) 51%, rgba(83,82,82,1) 92%, rgba(98,98,98,1) 100%);
    transition:all 1.0s ease;
    -webkit-transition: 0.7s ease;
    -moz-transition: 0.7s ease;
    -ms-transition: 0.7s ease;
    -o-transition: color 0.7s ease;
}

header:hover:before{
    top: 0;
}

.hover_an::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: cyan;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover_an:hover{
    color: cyan;
}

.hover_an:hover::after{
    color: cyan;
    text-decoration: underline; 
    transform: scaleX(1);
    transform-origin: bottom center;
}

/* GENERAL SECTION FORMATTING */

.title{
    position: relative;
    top: 150px;
    font-size: 5rem;
    font-family: 'Monoton', cursive;
    left: 17%;
    width: fit-content;
    z-index: 12;
}

.General{
    display: flex;
    width: 70%;
    justify-content: center;
    height: 500px;
    align-items: center;
    /* border: 10px solid red; */
    position: relative;
    top: 200px;
    min-width: 1000px;
    text-align: center;
    margin: auto;

}

.keywords{
    width: 50%;
    text-align:left;
    padding-left: 20px;
    /* border: 1px solid blue; */
    font-family: 'Unbounded', cursive;
    font-size: 3rem;
    font-weight: bolder;
    min-width: fit-content;
    line-height: 5rem;
    margin-right: 10px;
}
.keywords #k2{
    margin-left: 50%;
}
.keywords #k3{
    margin-left: 20%;
}

.aboutMe{
    /* flex-grow: 10; */
    width: 50%;
    /* border: 1px solid blue; */
    font-size: 1.3rem;
    font-family: 'Quicksand', sans-serif;
    line-height: normal;
    text-align: justify;
}

.skillset{
    margin-top: 300px;
    font-size: 5rem;
    font-family: 'Monoton', cursive;
    position: absolute;
    left: 60%;

}
.profession{
    display: flex;
    justify-content: center;
    margin: auto;
    /* border: 10px solid greenyellow; */
    margin-top: 400px;
    width: 70%;
    height: 570px;
    margin-bottom: 100px;
    min-width: 1000px;
}
.images{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
}
.description{
    width: 100%;
    height: auto;
    text-align: justify;
    font-size: 1.3rem;
    font-family: 'Quicksand', sans-serif;
    text-align: justify;
    margin-left: 30px;
    line-height: normal;
    margin-right: 10px;
}
.description h2{
    line-height: 4rem;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: underline overline;
}
.description .codes{
    list-style-position: inside;    
}

.description .codes #second{
    list-style-position: inside;
    margin-left: 20px;
}

.images img{
    width:100%;
    height:100%;
    object-fit:contain;
    transition: transform 0.2s ease-in-out;
    z-index: 0;
}

.images img.active{
    transform: translateX(0);
    z-index: 1;
}
.images img.entering-from-right{
    transform:translateX(100%);
    z-index: 2;
}
.images img.entering-from-left{
    transform: translateX(-100%);
    z-index: 2;
}

.backward,.forward{
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size:contain;    
    position:absolute;
    top: 50%;
    z-index: 5;
}

.backward{
    background-image: url(../icons/arrow_back2.png);
    left: 0;
    
}
.forward{
    background-image: url(../icons/arrow_forw2.png);
    right: 0;
}

.backward:hover{
    background-image: url(../icons/arrow_back_highlight.png);
}

.forward:hover{
    background-image: url(../icons/arrow_forw_highlight.png);
}

.software{
    display: flex;
    justify-content: center;
    margin: auto;
    /* border: 10px solid purple; */
    margin-top: 0;
    width: 70%;
    height: 570px;
    margin-bottom: 200px;
    min-width: 1000px;

}

.software_images{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    object-fit: contain;
    
}
.software_images img{
    width: 30%;
    background-color: transparent;
    /* border: 1px solid blue; */
    max-height: 30%;
    object-fit:contain;
}


footer{
    width: 100%;
    height: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid antiquewhite;
}

footer .basic_menu{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 150px;
    align-items:start;
    margin-top: 50px;
    
}
footer .small_logo h1 a{
    font-family: 'Monoton', cursive;
    font-size: 3rem;
    text-decoration: none;
    font-style: normal;
}

.basic_menu .basic_menu_list{
    position: absolute;
    left: 150px;
    text-decoration: none;
    list-style: none;
    font-size: 1.3rem;
    font-family: 'Quicksand', sans-serif;
    line-height: normal;
}
.basic_menu .email_contact{
    position: absolute;
    right: 150px;
    text-decoration: none;
    font-size: 1.3rem;
    font-family: 'Quicksand', sans-serif;
}

footer .contact_info{
    display: flex;
}

footer .contact_info img{
    width: 80px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}

footer a{
    text-decoration: none;
}

footer .mobile_footer{
    display: none;
}


header li:hover{
    cursor: pointer;
}

.basic_menu_list li a:hover, 
.email_contact p:hover{
    color: aqua;
    cursor: pointer;
}

.email_contact a:hover{
    color: aqua;
}


/* INITIAL ANIMATIONS - WEBPAGE LOADING */

@keyframes slideInLeft{
    0%{
        transform: translateX(-15%);
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight{
    0%{
        transform: translateX(15%);
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes displayText{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.keywords #k1{
    animation: displayText 1s linear;
}
.keywords #k2{
    animation: displayText 2s linear;
}
.keywords #k3{
    animation: displayText 3s linear;
}

.fade-in{
    opacity: 0;
}
/* .title{
    opacity: 0;
} */
/* .title{
    animation: 1s slideInLeft linear ;
} */

#css{
    transition: opacity 0.5s ease;
}
#html{
    transition: opacity 1s ease;
}
#js{
    transition: opacity 1.5s ease;
}
#python{
    transition: opacity 2s ease;
}
#matlab{
    transition: opacity 2.5s ease;
}
#qt{
    transition: opacity 3s ease;
}
#sql{
    transition: opacity 7s ease;
}

#slide-right{
    transform: translateX(15%);
    opacity: 0;
    transition: 1s;
}
#slide-left{
    transform: translateX(-15%);
    opacity: 0;
    transition: 1s;
}


/* .aboutMe, .profession .description p, .profession .description ul{
    animation: slideInRight 1s linear;
} */
/* .software .description p{
    animation: slideInLeft 1s linear;
} */


/* OVERLAY MENU STYLE */
.overlay{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, 0.9);
    overflow-x: hidden; /* DISABLE HORIZONTAL SCROLL*/
    transition: 0.5s;
}
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    font-family: 'Quicksand', sans-serif;
    background-color: transparent;
}
  
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: aliceblue;
    display: block;
    transition: 0.3s;
    background-color: transparent;
}
  
.overlay a:hover, .overlay a:focus {
    color: aqua;
}
  
.overlay .closebtn {
position: absolute;
top: 20px;
right: 45px;
font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
}

/* LOADING BAR ANIMATION*/

@keyframes spin{
    0%{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

#loading_bar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-top: 4px solid #007bff;
    animation: spin 1s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    
}

#loading_background{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    z-index: 20;
    transition: display 2s ease-in-out;
}


/* MEDIA QUERIES */

@media only screen and (max-width: 1145px) and (min-width:870px){
    header{
        position: relative;
    }
    main .title{
        display: block;
        position:unset;
        text-align: center;
        /* border: 10px solid red; */
        margin: auto;
        margin-top: 50px;
    }
    .General{
        margin: auto;
        width: 80%;
        min-width:auto;
        top: 100px;
    }
    .General p{
        font-size: 0.8rem;

    }
    .General #slide-right{
        font-size: 1.2rem;
    }
    .keywords h2{
        font-size: 2rem;
    }

    .skillset{
        text-align: center;
        display: block;
        margin: auto;
        position: unset;
        /* border: 10px solid yellow; */
        margin-top: 200px;
    }
    
    .profession{
        margin: auto;
        width: 80%;
        min-width: 80%;
        margin-top: 100px;
        height: 750px;
    }
    .profession p{
        font-size: 1.2rem;
           
        
    }

    .software{
        margin: auto;
        width: 80%;
        min-width: auto;
        margin-top: 100px;
        height: 700px;
        margin-bottom: 200px;
    }
    .software p{
        font-size: 1.2rem;
    }

    #slide-left{
        transform: translateX(-4%);
        opacity: 0;
        transition: 1s;
        /* background-color: red; */
    }
    #slide-right{
        transform: translateX(4%);
        opacity: 0;
        transition: 1s;
        /* background-color: red; */
    }



}


@media only screen and (max-width:870px)and (min-width: 450px){
    header{
        position: unset;
    }
    main .title{
        display: block;
        position:unset;
        text-align: center;
        /* border: 10px solid red; */
        margin: auto;
        margin-top: 50px;
        margin-bottom: 80px;
        width: 90%;
    }
    .General{
        display: block;
        margin: auto;
        /* border: 10px solid red;         */
        position: unset;
        width: 90%;
        height: auto;
        margin-bottom: 100px;
        min-width:unset;
    }
    .aboutMe{
        display: block;
        width: 100%;
        height: 50%;
        margin: auto;
        margin-top: 50px;
    }
    .keywords{
        width: 100%;
        height: 50%;
        margin: auto;
    }
    .skillset{
        text-align: center;
        display: block;
        margin: auto;
        position: unset;
        /* border: 10px solid yellow; */
        margin-top: 50px;
        margin-bottom: 50px;
        width: 80%;
    }
    .profession{
        display: block;
        position: unset;
        margin: auto;
        /* border: 10px solid blue; */
        width: 90%;
        min-width: unset;
        height: 1100px;
    }
    .profession .images{
        width: 100%;
        height: 40%;    
        margin: auto;
    }
    .profession .description{
        width: 100%;
        height: 60%;
        margin: auto;
    }

    .software{
        display: block;
        position: unset;
        margin: auto;
        /* border: 10px solid purple; */
        width: 90%;
        min-width: unset;
        height: auto;
        margin-top: 0px;
        margin-bottom: 100px;
        
    }
    .software .description{
        width: 100%;
        height: 50%;
        margin: auto;
    }
    .software .software_images{
        width: 100%;
        height: 50%;
        margin: auto;
    }
    footer{
        height: 400px;
        /* border: 10px solid greenyellow; */
    }
    footer .basic_menu{
        justify-content: center;
        height: 60%;
    }
    .basic_menu .basic_menu_list{
        left: 90px;
    }
    .basic_menu .email_contact{
        right: 90px;
    }
    footer .contact_info{
        /* border: 10px solid red; */
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 40%;
    }
    footer .contact_info a{
        width: 20%;
        margin: auto;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom:50px;
        margin-top: 50px;
        /* background-color: aqua; */
    }
    footer .contact_info img{
        text-align: center;
        width: 100%;
        height: auto;
        object-fit: contain;
        margin: auto;
        
    }
    .keywords{
        /* border: 10px solid brown; */
        width: 100%;
        padding-left: 0px;
        min-width:unset;
        margin: auto;
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
    }
    
    .keywords #k1, .keywords #k2, .keywords #k3{
        margin: auto;
        /* margin-left: 10%; */
        /* border: 10px solid hotpink; */
        font-size: 2rem;
        width: 100%;
        margin: 0px;
        
    }
    .keywords #k1{
        text-align: center;
    }
    .keywords #k2{
        text-align: end;
    }
    .keywords #k3{
        text-align: start;
    }
    #slide-left{
        transform: translateX(2%);
        opacity: 0;
        transition: 1s;
        /* background-color: red; */
    }
    #slide-right{
        transform: translateX(-2%);
        opacity: 0;
        transition: 1s;
        /* background-color: red; */
    } 

}

@media only screen and (max-width:540px){
    /* and (min-width:450px) */
    /* MODIFY FOOTER FIRST PORTION */
    footer{
        height: 400px;
        /* border: 10px solid greenyellow; */
    }
    footer .basic_menu{
        display: none;
    }
    footer .mobile_footer{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        font-family: 'Quicksand', sans-serif;
        list-style: none;
        height: 60%;
        /* border: 10px solid brown; */
    }
    footer .mobile_footer li{
        text-decoration: none;
        list-style: none;
        text-align: center;
    }
    footer .mobile_footer div, footer .mobile_footer ul{
        margin: 10px auto;
    }
}

@media only screen and (max-width: 450px){
    header{
        position: unset;
        /* border: 10px solid blue; */
    }
    header h1{
        /* border: 10px solid purple; */
        text-align: center;
        margin: auto;
    }
    header h1 a{
        text-align: center;
        margin: auto;
    }
    main .title{
        display:block;
        position:relative;
        top: 0;
        left: 0;
        transform: translate(-50%);
        text-align: center;
        /* border: 10px solid red; */
        margin: auto;
        margin-top: 100px;
        margin-bottom: 80px;
        font-size: 2.5rem;
        width: 90%;

    }
    .General{
        display: block;
        margin: auto;
        /* border: 10px solid red;         */
        position: unset;
        width: 90%;
        height: auto;
        margin-bottom: 100px;
        min-width:unset;
        
    }
    .aboutMe{
        display: block;
        width: 100%;
        height: 50%;
        margin: auto;
        margin-top: 50px;
    }
    .keywords{
        width: 100%;
        height: 50%;
        margin: auto;
    }
    .skillset{
        text-align: center;
        display: block;
        margin: auto;
        position: unset;
        /* border: 10px solid yellow; */
        margin-top: 50px;
        margin-bottom: 50px;
        font-size: 2.5rem;
        width: 80%;
    }
    .profession{
        display: block;
        position: unset;
        margin: auto;
        /* border: 10px solid blue; */
        width: 90%;
        min-width: unset;
        height: 1400px;
    }
    .profession .images{
        width: 100%;
        height: 40%;    
        margin: auto;
    }
    .profession .description{
        width: 100%;
        height: 60%;
        margin: auto;
    }

    .software{
        display: block;
        position: unset;
        margin: auto;
        /* border: 10px solid purple; */
        width: 90%;
        min-width: unset;
        height: auto;
        margin-top: 0px;
        margin-bottom: 100px;
        
    }
    .software .description{
        width: 100%;
        height: 50%;
        margin: auto;
    }
    .software .software_images{
        width: 100%;
        height: 50%;
        margin: auto;
    }
    footer .contact_info{
        /* border: 10px solid red; */
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 40%;
    }
    footer .contact_info a{
        width: 20%;
        margin: auto;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom:50px;
        margin-top: 50px;
        
    }
    footer .contact_info img{
        text-align: center;
        width: 100%;
        height: auto;
        object-fit: contain;
        margin: auto;
        
    } 
    .keywords{
        /* border: 10px solid brown; */
        width: 100%;
        padding-left: 0px;
        min-width:unset;
        margin: auto;
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
    }
    
    .keywords #k1, .keywords #k2, .keywords #k3{
        margin: auto;
        /* margin-left: 10%; */
        /* border: 10px solid hotpink; */
        font-size: 2rem;
        width: 100%;
        margin: 0px;
        
    }
    .keywords #k1{
        text-align: center;
    }
    .keywords #k2{
        text-align: end;
    }
    .keywords #k3{
        text-align: start;
    }

    /* MODIFY HEADER STYLE */
    header{
        padding-top: 20px;
        display: flex;
        width: 100%;
        height: 20%;
        flex-direction: column;
        /* border: 10px solid red; */
    }
    header nav{
        margin: 20px 0px;
        /* border: 10px solid white;     */
    }
    /* .software .description p{
        border: 10px solid green;
    } */
    /* .software_images{
        border: 10px solid pink;
    } */
    body, html{
        width: 100%;

    }
    header, main, footer{
        width: 100%;
    }
    #slide-left{
        transform: translateX(-4%);
        opacity: 0;
        transition: 1s;
        /* background-color: red; */
    }
    #slide-right{
        transform: translateX(4%);
        opacity: 0;
        transition: 1s;
        /* background-color: red; */
    }

}














