* {
    box-sizing: border-box;

    background-color: black;
    color: aliceblue;
    /* border: 1px solid red; */
}

body,html{
    height: 100%;
    margin: 0;
}

#wrapper{
    height: 100%;
    width: 100%;
    position: sticky;
    /* border: 10px solid brown; */
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 0px;
    right: 0px;
    width:100%;
    height: 10%;
    z-index: 1;
}

header h1 a{
    font-family: 'Monoton', cursive;
    font-size: 3rem;
    margin-left: 20px;
    background-color: rgba(0,0,0,0);
    text-decoration: none;
}
header h1{
    background-color: rgba(0, 0, 0, 0);
}


.header_title,
nav{
    display: inline-block;
}
nav ul{
    display: flex;
    flex-direction: row;
}

header li{
    margin:0px 10px;
    font-family: 'Unbounded', cursive;
    list-style: none;
}
header li a{
    text-decoration: none;
    font-size: 1rem;
    position: relative;
}

@keyframes fade {
    0% { opacity: 0; }
    25% { opacity: 1; }
    50% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fadein{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes slideInLeft{
    0%{
        transform: translateX(-20%);
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes opacityChange{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#greetings{
    font-size: 6rem;
    width: 70%;
    height: fit-content;
    font-family: 'Unbounded', cursive;
    font-weight: bold;
    animation: fade 5s linear infinite;       
    z-index: 20;
}

main{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    /* border: 10px solid red; */
    display: flex;
    align-items: center;
    z-index: -1;
    height: 80%;
}

.general_container{
    /* border: 10px solid greenyellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: auto;
    height: 80vh;
}


#intro_container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.welcome{
    text-align:left;
    font-size: 3rem;
    margin: 10px 0px;
    font-family: 'Unbounded', cursive;
    animation: slideInLeft 2s linear;
    /* animation: opacityChange 0.1s linear; */
}

#intro{
    font-size: 1.5rem;
    /* margin: 70px auto; */
    margin-top: 70px;
    margin-bottom: 70px;
    width: 80%;
    text-align: justify;
    font-family: 'Quicksand', sans-serif;
    line-height: 2rem;
    opacity: 1;
    animation: fadein 1s linear;
    
}

#text_intro{
    padding-top: 0%;
    /* border: 1px solid blue; */
    width: 70%;
    height: fit-content;
    
}

.image_container{
    width: 30%;
    align-self: center;
    /* background: rgb(2,0,36); */
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(147,147,147,0) 35%, rgba(255,255,255,0) 100%);
}

#intro_img{    
    max-height: 100%;
    max-width: 100%;
    opacity: 0.5;
}

header:before{
    position: absolute;
    content:"";
    top: -100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(0deg, rgba(0,0,0,1) 51%, rgba(83,82,82,1) 92%, rgba(98,98,98,1) 100%);
    transition:all 1.0s ease;
    -webkit-transition: 0.7s ease;
    -moz-transition: 0.7s ease;
    -ms-transition: 0.7s ease;
    -o-transition: color 0.7s ease;
}

header:hover:before{
    top: 0;
}

.hover_an::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: cyan;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover_an:hover{
    color: cyan;
}

.hover_an:hover::after{
    color: cyan;
    text-decoration: underline; 
    transform: scaleX(1);
    transform-origin: bottom center;
}


footer{
    color: aliceblue;
    position: fixed;
    width: 100%;
    height: 10%;
    bottom: 0; 
}
footer img{
    width: 50px;
    height: auto;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 50%;
    margin: auto;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    
}

footer img[alt="github"]{
    right: 100px;
}

  
/* OVERLAY MENU STYLE */
.overlay{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, 0.9);
    overflow-x: hidden; /* DISABLE HORIZONTAL SCROLL*/
    transition: 0.5s;
}
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    font-family: 'Quicksand', sans-serif;
}
  
.overlay a {
padding: 8px;
text-decoration: none;
font-size: 36px;
color: aliceblue;
display: block;
transition: 0.3s;
}
  
.overlay a:hover, .overlay a:focus {
    color: aqua;
}
  
.overlay .closebtn {
position: absolute;
top: 20px;
right: 45px;
font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
}

#Projects{
    cursor: pointer;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1090px) and (min-width: 870px){
    body,html{
        height: 100%;
        margin: 0;
    }
    header{
        position: relative;
        /* border: 10px solid red; */
        height: 10%;
    }
    main{
        display:block;
        width: 100%;
        height: auto;
        text-align: center;
        /* border: 0px solid greenyellow; */
        margin-bottom: 500px;
    }
    .general_container{
        display: block;
        height: auto;
        text-align: center;
        margin-bottom: 15%;
    }
    #text_intro{
        /* border: 10px solid orange; */
        text-align: center;
        margin: auto;
        width: 100%;

    }
    #text_intro p{
        text-align: justify;
        margin: auto;
        width: 100%;
        margin-bottom: 50px;
    }
    #text_intro h2{
        text-align: center;
        margin-bottom: 50px;
    }
    #greetings{
        font-size: 3.5rem;
        text-align: center;
        /* border: 10px solid pink; */
        margin: auto;
        margin-bottom: 30px;
        height: 10%;
    }
    footer{
        position: fixed;
        width: 100%;
        /* height: 300px; */
        height: 10%;
        /* border: 10px solid blueviolet; */
        display: flex;
        justify-content: center;
        align-items: center;   
    }
    footer img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit:contain;
        position:absolute;
        left: 0;
        
    }
    footer a{
        width: 100px;
        height: 100px;
        /* background-color: aqua; */
        margin: 0px 10%;
        /* border: 10px solid green; */
        position: relative;
    }
    
    #intro_container{
        display: flex;
        text-align: center;
        /* border: 10px solid red; */
        margin: auto;
        flex-direction: column;
        align-items: center;
        /* border: 10px solid grey; */
        height: 90%;
        margin-bottom: 500px;
    }
    .image_container{
        margin: auto;
        width: 60%;
        /* border: 10px solid greenyellow; */
        max-height:max-content;
        margin-bottom: 10%;
        
    }
    #intro_img{    
        height: auto;
        width: 100%;
        opacity: 0.5;
        align-self:normal;   
        object-fit:fill;
    }
}
@media only screen and (max-width:870px) and (min-width: 650px){
    /* *{
        background-color: blue;
    }    */
    header{
        position: relative;
        /* border: 10px solid red; */
    }
    main{
        display:block;
        width: 100%;
        height: auto;
        text-align: center;
        /* border: 10px solid greenyellow; */
    }
    .general_container{
        display: block;
        height: auto;
        text-align: center;
    }
    #text_intro{
        /* border: 10px solid orange; */
        text-align: center;
        margin: auto;
        width: 100%;
        
    }
    #text_intro p{
        text-align: justify;
        margin: auto;
        width: 100%;
        margin-bottom: 50px;
        font-size: 1rem;
    }
    #text_intro h2{
        text-align: center;
        margin-bottom: 50px;
        font-size: 1.8rem;
    }
    #greetings{
        font-size: 2rem;
        text-align: center;
        /* border: 10px solid pink; */
        margin: auto;
        width: 100%;
    }
    footer{
        position: relative;
        width: 100%;
        height: 300px;
        /* border: 10px solid blueviolet; */
        display: flex;
        justify-content: center;
        align-items: center;   
    }
    footer img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit:contain;
        position:absolute;
        left: 0;
        
        /* left: auto;
        right: auto;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        margin:auto; */
    }
    /* footer img[alt="github"]{
        left: auto;
        right: auto;
    } */
    footer a{
        /* display: inline-block; */
        width: 100px;
        height: 100px;
        /* background-color: aqua; */
        margin: 0px 10%;
        /* border: 10px solid green; */
        position: relative;
    }
    
    
    #intro_container{
        display: block;
        text-align: center;
        /* border: 10px solid red; */
        /* flex-direction: column;
        justify-content: center;
        align-items: center; */
        margin: auto;
    }
    .image_container{
        margin: auto;
        width: 60%;
    }
    #intro_img{    
        height: auto;
        width: 100%;
        opacity: 0.5;
        align-self:normal;   
    }
}

@media only screen and (max-width:650px){
    /* *{
        background-color: blue;
    }    */
    header{
        position: relative;
        /* border: 10px solid red; */
    }
    header h1{
        margin-top: 15px;
    }
    main{
        display:block;
        width: 100%;
        height: auto;
        text-align: center;
        /* border: 10px solid purple; */
    }
    .general_container{
        display: block;
        height: auto;
        text-align: center;
        width: 95%;
    }
    #text_intro{
        /* border: 10px solid orange; */
        text-align: center;
        margin: auto;
        width: 100%;
        
    }
    #text_intro p{
        text-align: justify;
        margin: auto;
        width: 100%;
        margin-bottom: 50px;
        font-size: 1rem;
    }
    #text_intro h2{
        text-align: center;
        margin-bottom: 50px;
        font-size: 1.8rem;
    }
    #greetings{
        font-size: 2rem;
        text-align: center;
        /* border: 10px solid pink; */
        margin: auto;
        width: 100%;
        margin-top: 50px;
    }
    footer{
        position: relative;
        width: 100%;
        height: 300px;
        /* border: 10px solid blueviolet; */
        display: flex;
        justify-content: center;
        align-items: center;   
    }
    footer img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit:contain;
        position:absolute;
        left: 0;
    }

    footer a{
        /* display: inline-block; */
        width: 100px;
        height: 100px;
        /* background-color: aqua; */
        margin: 0px 10%;
        /* border: 10px solid green; */
        position: relative;
    }
    
    
    #intro_container{
        display: block;
        text-align: center;
        margin: auto;
    }
    .image_container{
        margin: auto;
        width: 80%;
    }
    #intro_img{    
        height: auto;
        width: 100%;
        opacity: 0.5;
        align-self:normal;   
    }
    header{
        display: flex;
        width: 100%;
        height: 20%;
        flex-direction: column;
    }
    header nav{
        margin: 20px 0px;
        
    }
}





















